<header>
	<nav>
		<ul>
			<li>
				<a href={{path ("accueil")}}>
					accueil
			
			</li>
			<li>
				<a href="">
					produit
				
			</li>
			<li>
				<a href="">
					profil
			
			</li>
			<li>
				<a href="">
					<img src="panier.png" alt="">
			
			</li>
		</ul>
	</nav>
</header>
